.wrapper {
    width: 100%;
    height: 100vh;
    background-color: rgba(52, 29, 63, 0.3);
}

.inner {
    .main-logo {
        display: flex;
        align-items: center;
        width: 240px;
        height: 70px;
        padding: 0 25px 0 28px;
    }
    .nav-first {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid #776e6e;
    }
    .nav-second {
        display: flex;
        flex-direction: column;
    }
}

.main-logo {
    img {
        width: 120px;
        height: 40px;
    }
}

.nav-first--item {
    display: flex;
    align-items: center;
    padding: 12px 21px;
    color: #ffffffd8;

    .item-icon {
        margin: 0 12px 0 0;
    }
    .item-title {
        font-size: 14px;
        font-weight: 500;
    }

    &.active {
        background-color: rgba(111, 106, 114, 0.3);
        border-left: 3px solid rgb(154, 65, 226);
    }

    &:hover {
        color: var(--white);
    }
}

.nav-second-list {
    margin-top: 16px;
}

.nav-second--item {
    display: flex;
    align-items: center;
    padding: 12px 21px;
    color: #ffffffd8;

    .item-icon {
        margin: 0 12px 0 0;
    }
    .item-title {
        font-size: 14px;
        font-weight: 500;
    }

    &.active {
        background-color: rgba(111, 106, 114, 0.3);
        border-left: 3px solid rgb(154, 65, 226);
    }

    &:hover {
        color: var(--white);
    }
}

